<div id="galeria" class="galeriaTop">
    <div class="galeriaTitle">
        <h1>Galeria</h1>
    </div>
</div>
<div class="galeria2">
    <div class="galeria" style="padding-top: 100px;padding-bottom: 100px;">
        <div class="col-lg-12">
            <div class="row" id="rowGaleria">
                <div class="col-lg-4" id="colGaleria">
                    <img src="/imagens/galeria/<%= galeria[numeros[0]].nome %>"  class="card-img-top imagemGaleria">
                </div>
                <div class="col-lg-4" id="colGaleria">
                    <img src="/imagens/galeria/<%= galeria[numeros[1]].nome %>" class="card-img-top imagemGaleria">
                </div>
                <div class="col-lg-4" id="colGaleria">
                    <img src="/imagens/galeria/<%= galeria[numeros[2]].nome %>" class="card-img-top imagemGaleria">
                </div>
                <div class="col-lg-4" id="colGaleria">
                    <img src="/imagens/galeria/<%= galeria[numeros[3]].nome %>" class="card-img-top imagemGaleria">
                </div>
                <div class="col-lg-4" id="colGaleria">
                    <img src="/imagens/galeria/<%= galeria[numeros[4]].nome %>" class="card-img-top imagemGaleria">
                </div>
                <div class="col-lg-4" id="colGaleria">
                    <img src="/imagens/galeria/<%= galeria[numeros[5]].nome %>" class="card-img-top imagemGaleria">
                </div>
            </div>
        </div>
        <div class="col-12 text-center" style="margin: auto !important;"> 
            <a href="/galeria" target="_blank"><button type="button" class="btn btn-success">Ver Mais</button></a>
        </div>
    </div>
</div>