<html lang="pt-PT" style="margin: 0; padding: 0">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>STR|São Tiago a Rufar</title>
    <!-- BOOTSTRAP -->
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />
    <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
    ></script>
    <link
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        href="../assets/vendors/iconfonts/font-awesome/css/font-awesome.min.css"
    />
    <link rel="icon" href="/img/principal/logo.jpg" type="image/jpg" />
    <!-- CSS -->
    <link
        rel="stylesheet"
        type="text/css"
        href="css/principal/allPrincipalPage.css"
    />
    <link rel="stylesheet" type="text/css" href="css/principal/nav.css" />
    <link rel="stylesheet" type="text/css" href="css/principal/sobre.css" />
    <link
        rel="stylesheet"
        type="text/css"
        href="css/principal/modalLogin.css"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="css/principal/modalRegistar.css"
    />
    <link rel="stylesheet" type="text/css" href="css/principal/galeria.css" />
    <link
        rel="stylesheet"
        type="text/css"
        href="css/principal/localizacao.css"
    />
    <link rel="stylesheet" type="text/css" href="css/principal/contactos.css" />
    <link
        rel="stylesheet"
        type="text/css"
        href="css/principal/calendario.css"
    />
    <link rel="stylesheet" type="text/css" href="css/principal/endPage.css" />

    <link href="/packages/core/main.css" rel="stylesheet" />
    <link href="/packages/daygrid/main.css" rel="stylesheet" />
    <link href="/packages/timegrid/main.css" rel="stylesheet" />
    <link href="/packages/list/main.css" rel="stylesheet" />
    <script src="/packages/core/main.js"></script>
    <script src="/packages/core/locales-all.js"></script>
    <script src="/packages/interaction/main.js"></script>
    <script src="/packages/daygrid/main.js"></script>
    <script src="/packages/timegrid/main.js"></script>
    <script src="/packages/list/main.js"></script>
    <script src="js/principal/calendario.js"></script>
    <script>
      //     document.addEventListener('DOMContentLoaded', function() {
      // var calendarEl = document.getElementById('calendar');
      // var calendar = new FullCalendar.Calendar(calendarEl, {
      //   plugins: ['interaction', 'dayGrid', 'timeGrid', 'list' ],
      //   header: {
      //     left: 'prev,next',
      //     center: 'title',
      //     right: 'dayGridMonth,listMonth'
      //   },
      //   eventLimit: true,
      //   businessHours: true,
      //   weekNumbers: true,
      //   weekNumbersWithinDays: true,
      //   locale: 'pt',
      //   editable: false,
      //   events: ,
      //   eventTextColor: 'white',
      //   extraParams: function() {
      //     return {
      //       cachebuster: new Date().valueOf()
      //     };
      //   }
      // });
      // calendar.render();
      //});
    </script>
    <style>
      #calendar {
        min-width: 900px;
        max-width: 1100px;
        margin: 0 auto;
        box-sizing: inherit;
      }
    </style>
</head>
<body>
    <!-- NAV -->
    <%- include ('mainPage/nav') %>
    <!-- / -->
    <%- include ('mainPage/sobre') %> 
    <%- include ('mainPage/galeria') %> 
    <%- include ('mainPage/localizacao')%> 
    <%- include ('mainPage/calendario') %>
    <%- include ('mainPage/contactos')%> 
    <%- include ('mainPage/endPage') %>
    <!-- MODAL LOGIN -->
    <%- include ('mainPage/modalLogin') %>
    <!-- MODAL REGISTAR -->
    <%- include ('mainPage/modalRegistar') %>
    <!-- MODAL RECUPERAR PASSWORD-->
    <%- include ('mainPage/modalPassword') %> 
    <%- include ('mainPage/caixasDialogo') %>
    <!-- JS -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"
    ></script>
    <script src="js/principal/nav.js"></script>
    <script src="js/principal/modalLogin.js"></script>
    <script src="js/principal/modalRegistar.js"></script>
    <script src="js/principal/localizacao.js"></script>
    <script
        async
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_7wZFQMz5kR1SOvtzm45oPvVQTsmSvqw&callback=initMap"
        type="text/javascript"
    ></script>
</body>
</html>
