<div class="card">
    <div class="card-body">
      <h4 class="card-title">Todas as Fotografias</h4>
      <div class="row">
        <div class="col-xl-4 grid-margin"> <!--Pesquisar pelo Nome-->
          <div class="card">
            <div class="card-body" style="height: 250px !important;">
              <h4 class="card-title">Pesquisar Por Pessoa</h4>
              <form action="/user/galeria/pesqNome" method="GET" class="forms-sample">
                <div class="form-group">
                  <label>Nome:</label>
                  <select class="form-control" name="id" class="form-control">
                    <option value="">Escolher Nome..</option>
                    <% utilizadores.forEach(users => { %>
                      <option value="<%= users.idUtilizadores %>"><%=users.primeiroNome%> <%=users.ultimoNome%></option>
                    <% }) %>
                  </select>
                </div>
                <button type="submit" class="btn btn-success mr-2">Procurar</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-4 grid-margin"> <!--Pesquisar pela Data-->
          <div class="card">
            <div class="card-body" style="height: 250px !important;">
              <h4 class="card-title">Pesquisa Por Data</h4>
              <form action="/user/galeria/pesqData" method="GET" class="forms-sample">
                <div class="form-group">
                  <label>Entre:</label>
                  <input type="date" name="data1" class="form-control" required>
                </div>
                <div class="form-group">
                  <label>E:</label>
                  <input type="date" name="data2" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success mr-2">Procurar</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-4 grid-margin">
          <div class="card">
            <div class="card-body" style="height: 250px !important;">
              <h4 class="card-title">Pesquisa Todas</h4>
              <form action="/user/galeria/pesqToda" class="forms-sample" method="GET">
                <div class="form-group">
                  <label>Pesquisar Todas as Imagems</label>
                </div>
                <button type="submit" class="btn btn-success mr-2">Procurar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> <!--Mostra aqui as imagens-->
        <div class="col-md-12">
          <div class="card grid-margin">
            <div class="card-body">
              <h4 class="card-title">Fotografias</h4>
              <div class="row">
                <% allFoto.forEach(imagem => { %>
                  <div class="col-xl-4">
                    <div class="row">
                      <img src="../../imagens/galeria/<%= imagem.nome %>" onclick="myFunc(this)" alt="<%=imagem.data%>&nbsp;<%=imagem.primeiroNome%>&nbsp;<%=imagem.ultimoNome%>"
                      style="
                      height: 130px !important;
                      width: auto !important;
                      max-width: 100% !important;
                      margin-right: auto !important;
                      margin-left: auto !important;
                      display: block !important;
                      margin-bottom: 20px;">
                    </div>
                  </div>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Videos</h4>
              <div class="row">
                <% allVideos.forEach(video => { %>
                  <div class="col-xl-6">
                    <div class="row" id="rowVideo">
                      <video id="video"   style="margin: auto;width: 70%;margin-bottom: 20px;max-height: 250px;max-height: 300px;" controls>
                        <source  src="../../imagens/galeria/<%= video.nome %>" type="video/mp4">
                        Your browser does not support HTML video.
                      </video>
                    </div>
                  </div>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>