<div class="card grid-margin">
    <div class="card-body">
        <h4 class="card-title">Vestimenta</h4>
        <form action="/admin/perfil/editt" method="POST" class="forms-sample">
            <input type="text" hidden name="idUtilizadores" value="<%= users[0].idUtilizadores %>">
            <div class="form-group">
                <label>Tamanho Camisola</label>
                <select class="form-control" name="tamanhoCamisola">
                    <option value="<%= users[0].tamanhoCamisola %>"><%= users[0].tamanhoCamisola %></option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
            </div>
            <div class="form-group">
                <label>Tamanho Calçado</label>
                <input type="number" name="tamanhoCalcado" class="form-control" value="<%= users[0].tamanhoCalcado %>"  max="50" min="30">
            </div>
            <div class="form-group">
                <label>Sandálias</label>
                <select class="form-control" name="sandalias">
                    <option value="<%if(users[0].sandalias == '1' ){%><%='1'%><%}else{%><%='0'%><%}%>"><%if(users[0].sandalias == '1' ){%><%='Sim'%><%}else{%><%='Não'%><%}%></option>
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
            </div>
            <div class="form-group">
                <label>Botas</label>
                <select class="form-control" name="botas">
                    <option value="<%if(users[0].botas == '1' ){%><%='1'%><%}else{%><%='0'%><%}%>"><%if(users[0].botas == '1' ){%><%='Sim'%><%}else{%><%='Não'%><%}%></option>
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
            </div>
            <div class="form-group">
                <label>Polo</label>
                <select class="form-control" name="polo">
                    <option value="<%if(users[0].polo == '1' ){%><%='1'%><%}else{%><%='0'%><%}%>"><%if(users[0].polo == '1' ){%><%='Sim'%><%}else{%><%='Não'%><%}%></option>
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
            </div>
            <div class="form-group">
                <label>Traje Mediavel</label>
                <select class="form-control" name="trajeMediaval">
                    <option value="<%if(users[0].trajeMediaval == '1' ){%><%='1'%><%}else{%><%='0'%><%}%>"><%if(users[0].trajeMediaval == '1' ){%><%='Sim'%><%}else{%><%='Não'%><%}%></option>
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
            </div>
            <div class="form-group">
                <label>Traje Romano</label>
                <select class="form-control" name="trajeRomano">
                    <option value="<%if(users[0].trajeRomano == '1' ){%><%='1'%><%}else{%><%='0'%><%}%>"><%if(users[0].trajeRomano == '1' ){%><%='Sim'%><%}else{%><%='Não'%><%}%></option>
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success mr-2">Alterar</button>
        </form>
    </div>
</div>
<div class="card grid-margin">
    <div class="card-body">
        <h4 class="card-title">Privilegio</h4>
        <form action="/admin/perfil/edittt" method="POST">
            <div class="form-group">
                <input type="text" hidden name="idUtilizadores" value="<%= users[0].idUtilizadores %>">
                <label>Privilegio</label>
                <select name="privilegio" class="form-control">
                <option value="<%=users[0].privilegio%>"><%if(users[0].privilegio == "1"){%><%="Adminstrador"%><%}else{%><%="Membro"%><%}%></option>
                    <option value="0">Membro</option>
                    <option value="1">Administrador</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success mr-2">Alterar</button>
        </form>
    </div>
</div>